*{
    padding: 0;
    margin: 0;
    color: #eee;
    text-align: center;
}

html,body{
    background-color: blue;
}

.main-container{
    border: 5px solid rgb(255, 22, 119);
    border-radius: 10px;
    margin: 2rem;
    background-color: #ff23ff;

}

nav,section,footer,article,aside{
    border: 2px solid rgb(255, 120, 120);
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

aside,article{
    width: 40%;
    display: inline-block;
    height: 300px;
    background-color: rgb(107, 107, 107);
}

nav,section,footer{
    background-color: rgb(107, 107, 10);
}